/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background: #ffffff;
  --text-primary:#000;
  --text-secondary:##4C99D4;
  --accent: #56C3E6;
  --border: #B0D8BC;
  --form-bg:#fff;
  --secondary: #56C3E6;
  --primary: #ffff
} 
/* 
#4C99D4
#56C3E6
#B0D8BC
#FFFFFF
#0a192f
 */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {


}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 3px solid ;
}

/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap'); */


@layer base{
  body {
    opacity: 0.9;
    /* background-color: white; */
    background-image: linear-gradient(to right, #08122F, #000);
    
    overflow: overlay;
  margin: 0;
  /* font-family: 'JetBrains Mono', monospace; */
  font-family: 'Lexend Deca', sans-serif;
  /* font-family: 'Poppins', 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  li {
  @apply px-4;
  @apply cursor-pointer;
  } 
}

.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  
}

.h-screen {
  height: 100vh;
}
.h-screen-footer {
  height: 80vh;
}

/* .w-screen {
  width: 100% ;
} */

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.content-div:hover {
  opacity: 90%;
  background-image: linear-gradient(
      to bottom,
      #fff,
      #08122F
  )!important;
}

.btn-1{
  background-image: linear-gradient(to right, #14213D);
    transition: 0.3s;
}
.btn-1:hover {
  background-position:  right center; /* change the direction of the change here */
}


.cross:hover{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

}
